{% extends 'bank_management/base.html' %}

{% block content %}
<h1>Welcome to Bank App</h1>
<form method="post">
  {% csrf_token %}
  <div>
    <p>Would you like to create one ?</p>
    {% if exception %}
    <div style="color: red">{{ exception }}</div>
    {% endif %}
    <input type="radio" name="create_account" id="create_account_y" value="y">
    <label for="account_y">Y</label>
    <input type="radio" name="create_account" id="create_account_n" value="n">
    <label for="account_n">N</label>
    <div>
      <label for="">Enter name</label>
      <input type="text" name="username" value="{{ user.username }}">
    </div>
    <button type="submit" name="create_account_submit">Valid</button>
  </div>
  <div>
</div>
{% endblock %}